#main-div{
    display: flex;
}

#sub-div{
    background-color: rgb(249, 245, 245);
    padding: 70px;
}
.class{
    display: flex;
    gap: 20px;
}

.class img{
    width: 60px;
    height: 70px;
}

.main-class{
    display: flex;
    gap: 200px;
    justify-content: space-between;
}